* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
}

body {
  font-family: "Basic", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-bg);
}

.content {
  background: white;
  padding: 3em;
  box-shadow: 0 0 3em rbga(0, 0, 0, 0.15);
  width: 70%;
  max-width: 800px;
}

h2 {
  color: var(--clr-primary);
  margin: 0 0 0.5em;
  font-weight: 900;
}

/* p:nth-of-type(2) {
  color: red;
} */
